.calendar {
    width: 182px;
    margin-bottom: 20px;
}

.calendar__ttl {
    margin-bottom: 14px;
    padding: 0 7px;
}

.calendar__p {
    color: #94A6BE;
    font-size: 10px;
    line-height: 1;
}

.calendar__p span {
    color: #000000;
}

.calendar__block {
    display: block;
}

.calendar__month {
    color: #94A6BE;
    font-size: 14px;
    line-height: 25px;
    font-weight: 600;
}

.calendar__content {
    margin-bottom: 12px;
}

.calendar__days-names {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 7px 0;
    padding: 0 7px;
}

.calendar__day-name {
    color: #94A6BE;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
}

.calendar__cells {
    width: 182px;
    height: 126px;
    display: flex;
    flex-wrap: wrap;
}

.calendar__cell {
    width: 22px;
    height: 22px;
    margin: 2px;
    border-radius: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #94A6BE;
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.calendar__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    padding: 0 7px;
}

.calendar__period {
    padding: 0 7px;
}

.nav__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__action {
    width: 18px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

._hover01:hover {
    background-color: #33399b;
}

._hover02:hover, .header__user:hover {
    color: #33399b;
}

._hover02:hover::after, .header__user:hover::after {
    border-left-color: #33399b;
    border-bottom-color: #33399b;
}

._hover03:hover {
    background-color: #33399b;
    color: #FFFFFF;
}

._hover03:hover a {
    color: #FFFFFF;
}

.pop-user-set:target,
.pop-exit:target,
.pop-new-card:target,
.pop-browse:target {
    display: block;
}

._orange {
    background-color: #FFE4C2;
    color: #FF6D00;
}

._green {
    background-color: #B4FDD1;
    color: #06B16E;
}

._purple {
    background-color: #E9D4FF;
    color: #9A48F1;
}

._gray {
    background: #94A6BE;
    color: #FFFFFF;
}

._active-category {
    opacity: 1 !important;
}

.pop-wrap {
    position: relative;
    top: 0;
    left: 0;
}


.nav__action svg {
    fill: #94A6BE;
}

._other-month {
    opacity: 0;
  }
  
  ._cell-day:hover {
    color: #94A6BE;
    background-color: #EAEEF6;
  }
  
  ._active-day {
    background-color: #94A6BE;
    color: #FFFFFF;
  }
  
  ._current {
    font-weight: 700;
  }

@media screen and (max-width: 660px) {
    .calendar {
        max-width: 340px;
        width: 100%;
    }

    .calendar__ttl, .calendar__nav, .calendar__period {
        padding: 0;
    }

    .calendar .date-create {
        display: none;
        margin-bottom: 7px;
    }

    .calendar__p {
        font-size: 14px;
    }

    .calendar__day-name {
        font-size: 14px;
    }

    .calendar__cells {
        width: 344px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .calendar__cell {
        width: 42px;
        height: 42px;
        font-size: 14px;
    }
}